---
layout: layouts/base.njk
---

{{ content | safe }}
{%- css %}
{% include "public/css/message-box.css" %}
{% endcss %}
<div class="message-box">
    <p>
        <em>This site was based on the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em>
    </p>
</div>
